<article class="widget">
	<header>
		<h1>Welcome</h1>
	</header>
	<section>
		Welcome to Twentycents. Let your finances saved.
		You finances can keep:
		<ul class="welcome-presentation">
			<li class="icon-calendar organized">Organized</li>
			<li class="icon-banknote cost_effective">Cost Effective</li>
			<li class="icon-graph tracked">Tracked</li>
		</ul>
	</section>		
</article>
